* {
  box-sizing: border-box;
}

@font-face {
  font-family: Avengers;
  src: url(./The_Mighty_Avengers.ttf);
}

body {
  font-family: Avengers, sans-serif;
  font-size: 2rem;
  background-image: url(./images/Ultimate_Marvel_Avengers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 1%;
  top: 176px;
  width: 97%;
  height: 60%;
  overflow: auto;
  background-image: url(./images/battleground.jpg);
  background-size: cover;
  background-position-y: center;
  border: 10px solid white;
}


/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0 5px;
  background-color: black;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.battleground-header {
  padding-top: 50px;
  font-size: 50px;
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px;
}

.player1, .cpu {
  flex: 1;
  border: 1px solid black;
  max-width: 250px;
  /*height: 200px;*/
  text-align: center;
  background-color: white;
}

.fight {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attack-animation, .attack-description {
  width: calc(100% - 10px);
  height: 96px;
}

.attack-description {
  line-height: 1em;
  font-size: 1.5rem;
  text-align: center;
  overflow: scroll;
  background-color: white;
}

#fight-button {
  padding: 20px;
  font-family: Avengers;
  font-size: -webkit-xxx-large;
  cursor: pointer;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.character-card {
  width: calc(20% - 10px);
  background: white;
  padding: 5px;
  margin-bottom: 10px;
}

.character-text {
  padding: 8px 0;
  text-align: center;
  font-size: 2rem;
}

.character-button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.character-pic img, .player1 img, .cpu img {
  width: 100%;
  cursor: pointer;
}

.fire {
  animation: burn 1.5s linear infinite alternate;
  -webkit-animation: burn 1.5s linear infinite alternate;
  -moz-animation: burn 1.5s linear infinite alternate;
  -ms-animation: burn 1.5s linear infinite alternate;
}

@keyframes burn {
  0% {
    text-shadow: -0.1em 0 0.3em #fefcc9, 0.1em -0.1em 0.3em #feec85, -0.2em -0.2em 0.4em #ffae34, 0.2em -0.3em 0.3em #ec760c, -0.2em -0.4em 0.4em #cd4606, 0.1em -0.5em 0.7em #973716, 0.1em -0.7em 0.7em #451b0e;
  }
  45% {
    text-shadow: 0.1em -0.2em 0.5em #fefcc9, 0.15em 0 0.4em #feec85, -0.1em -0.25em 0.5em #ffae34, 0.15em -0.45em 0.5em #ec760c, -0.1em -0.5em 0.6em #cd4606, 0 -0.8em 0.6em #973716, 0.2em -1em 0.8em #451b0e;
  }
  70% {
    text-shadow: -0.1em 0 0.3em #fefcc9, 0.1em -0.1em 0.3em #feec85, -0.2em -0.2em 0.6em #ffae34, 0.2em -0.3em 0.4em #ec760c, -0.2em -0.4em 0.7em #cd4606, 0.1em -0.5em 0.7em #973716, 0.1em -0.7em 0.9em #451b0e;
  }
  100% {
    text-shadow: -0.1em -0.2em 0.6em #fefcc9, -0.15em 0 0.6em #feec85, 0.1em -0.25em 0.6em #ffae34, -0.15em -0.45em 0.5em #ec760c, 0.1em -0.5em 0.6em #cd4606, 0 -0.8em 0.6em #973716, -0.2em -1em 0.8em #451b0e;
  }
}
